// Shops ===================
.shops {
    padding: 60px 0 80px;
    background: #EBEBEB;

    &_box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &_aside {
        width: 340px;
        position: sticky;
        top: 100px;

        border-radius: 10px;
        background: #F5F5F5;
        overflow: hidden;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
        @include transition;

        &-wrap {
            @include transition;
        }

        &-item {
            display: block;
            position: relative;
            border-bottom: 1px solid #EBEBEB;
            // @include transition;

            &:last-child {
                margin-bottom: 0;
            }

            &.open {
                .shops_aside-info {
                    // transform-origin: bottom;
                    overflow: auto;
                    max-height: 500px;
                }

                .shops_aside-title {
                    &::after {
                        transform: rotate(180deg) translateY(50%);
                    }
                }
            }

            &.close {
                .shops_aside-info {
                    max-height: 0px;
                    // transition: .2s ease-out;
                    display: block;
                }

                .shops_aside-title {
                    &::after {
                        @include transformY;
                    }
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding: 20px 30px 20px 20px;
            background: #fff;

            &.active {
                &::after {
                    transform: rotate(180deg) translateY(50%);
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                @include transformY;

                width: 24px;
                height: 24px;
                background: url("../images/svg/arrow.svg") no-repeat center;
            }

            span {
                width: 28px;
                height: 28px;
                margin-right: 10px;
                display: block;

                img,
                svg {
                    @include ImgCon;
                    display: block;
                }
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.3;
            }
        }

        &-info {
            display: block;
            position: relative;
            max-height: 0;
            overflow: hidden;
            @include transition;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 25px;
                width: 1px;
                height: 100%;
                background: #000;
            }

            .inner {
                padding: 20px 20px 20px 50px;
            }

            &.bg-1 {
                &::before {
                    background: #D20F0F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #D20F0F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #D20F0F;
                    }
                }
            }

            &.bg-2 {
                &::before {
                    background: #E5C4A3;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #E5C4A3;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #E5C4A3;
                    }
                }
            }

            &.bg-3 {
                &::before {
                    background: #0FA3D2;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #0FA3D2;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #0FA3D2;
                    }
                }
            }

            &.bg-4 {
                &::before {
                    background: #B2D20F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #B2D20F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #B2D20F;
                    }
                }
            }

            &.bg-5 {
                &::before {
                    background: #0FD28C;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #0FD28C;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #0FD28C;
                    }
                }
            }

            &.bg-6 {
                &::before {
                    background: #D2A20F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #D2A20F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #D2A20F;
                    }
                }
            }

            &.bg-7 {
                &::before {
                    background: #ABD20F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #ABD20F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #ABD20F;
                    }
                }
            }

            &.bg-8 {
                &::before {
                    background: #2A0FD2;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #2A0FD2;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #2A0FD2;
                    }
                }
            }

            &.bg-9 {
                &::before {
                    background: #ABD20F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #ABD20F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #ABD20F;
                    }
                }
            }

            &.bg-10 {
                &::before {
                    background: #710FD2;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #710FD2;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #710FD2;
                    }
                }
            }

            &.bg-11 {
                &::before {
                    background: #D20FB3;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #D20FB3;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #D20FB3;
                    }
                }
            }

            &.bg-12 {
                &::before {
                    background: #50D20F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #50D20F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #50D20F;
                    }
                }
            }

            &.bg-13 {
                &::before {
                    background: #D24A0F;
                }

                .shops_aside-check {
                    input {
                        &:checked~.shops_aside-label {
                            color: #D24A0F;
                        }
                    }
                }

                .shops_aside-label {
                    &::after {
                        color: #D24A0F;
                    }
                }
            }
        }

        &-check {
            input {
                display: none;

                &:checked~.shops_aside-label {
                    color: #D20F0F;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            margin-bottom: 20px;
            @include transition;

            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;

            &::after {
                content: '✖';
                display: block;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.3;
                opacity: 0;
                @include transition;
            }
        }
    }

    &_block {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 380px);
        margin: 0 -15px;

        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            width: 100%;
            margin: 0 15px 25px;

            font-size: 26px;
            font-weight: 600;
            line-height: 1.3;

            span {
                width: 35px;
                height: 35px;
                display: block;
                margin-right: 20px;

                svg,
                img {
                    @include ImgCon;
                    display: block;
                }
            }
        }
    }

    &_item {
        border-radius: 10px;
        overflow: hidden;
        width: calc(33.33% - 30px);
        margin: 15px;

        &-photo {
            width: 100%;
            display: block;

            img {
                @include ImgCov;
            }
        }

        .swiper {
            &-slide {
                height: 220px;
            }
        }

        &-info {
            padding: 20px;
            background: #fff;
        }

        &-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
        }

        &-txt {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 10px 0 20px;
        }

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-link {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;
            color: #D20F0F;

            display: flex;
            align-items: center;

            span {
                display: block;
                margin-left: 10px;
                width: 14px;
                height: 14px;

                img,
                svg {
                    @include ImgCon;
                    display: block;
                }
            }
        }

        &-floor {
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            border-radius: 5px;
            border: 1px solid #767676;
            padding: 5px 7px;
        }
    }

}

// Shops end ===============

// Pagination ===================
.pag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

    &_arrow {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        @include transition;

        &:hover {
            background: $green;

            path {
                fill: #fff;
            }
        }

        img,
        svg {
            display: block;
            @include ImgCon;
            // width: 40%;
            // height: 40%;
            // object-fit: contain;
            // -o-object-fit: contain;

            path {
                @include transition;
            }
        }
    }

    &_pages {
        display: flex;
        align-items: center;
        margin: 0 10px;
        border-radius: 5px;
        background: #fff;
        overflow: hidden;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;

            @include transition;

            &.active {
                font-weight: 800;
            }

            &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
}

// Pagination end ===============