// Modal =================
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    @include transition;

    &.active {
        opacity: 1;
        pointer-events: unset;

        .modal_shop {
            .modal_inner {
                top: 0;
            }
        }
    }

    &_close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        cursor: pointer;

        svg,
        img {
            @include ImgCon;
            display: block;
            pointer-events: none;
        }
    }

    &_inner {
        max-width: 950px;
        width: calc(100% - 50px);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        top: 20px;
        @include transition;
    }

    &_shop {
        .modal_inner {
            max-width: 950px;
        }

        &-photo {
            display: block;
            position: relative;

            width: 100%;
            height: 320px;

            img {
                @include ImgCov;
                display: block;
            }
        }

        &-advert {
            position: absolute;
            bottom: -20px;
            left: 60px;

            width: 180px;
            height: 140px;
            border-radius: 10px;
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
            background: #fff;
            padding: 10px;
        }

        &-info {
            background: #fff;
            padding: 60px;
        }

        &-title {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #EBEBEB;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            color: #a6a6a6;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

        }

        &-txt {
            width: calc(100% - 200px);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
        }

        &-data {
            width: 200px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-item {
            border: 1px solid #767676;
            padding: 8px 6px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;

            span {
                display: block;
                margin-right: 7px;

                width: 18px;
                height: 18px;

                svg,
                img {
                    @include ImgCon;
                    display: block;
                }
            }
        }
    }

    &_search {
        .modal_inner {
            height: calc(100vh - 80px);
            margin: auto 0;
        }

        .search {
            &_input {
                width: 100%;
                position: relative;
                display: block;
                margin-bottom: 30px;

                input {
                    width: calc(100% - 40px);
                    padding: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.3;
                    color: $main-color;
                    border-radius: 10px;

                    &::placeholder {
                        color: #767676;
                    }
                }

                button {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    @include transformY;
                    right: 20px;
                    width: 26px;
                    height: 26px;
                    background: transparent;

                    svg,
                    img {
                        @include ImgCon;
                        display: block;
                    }
                }
            }

            &_txt {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.3;
                color: #FFF;
                text-align: center;
            }

            &_result {
                border-radius: 10px;
                background: #FFF;
                padding: 20px 0 20px 20px;

                &>div {
                    overflow: auto;
                    max-height: calc(100vh - 200px);
                    @include transition;
                    padding-right: 20px;

                    &::-webkit-scrollbar-thumb {
                        background: #4D4D4D;
                    }
                }
            }

            &_item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-group {
                    display: flex;
                    align-items: center;
                }

                &-photo {
                    width: 100px;
                    margin-right: 20px;

                    &.news {
                        width: 160px;
                        padding: 0;
                        overflow: unset
                    }

                    img {
                        @include ImgCon;
                        display: block;
                    }
                }

                &-title {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.3;
                    color: $main-color;
                }

                &-txt {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    color: #767676;
                    margin: 10px 0;
                }

                &-link {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    color: #767676;
                }

                &-date {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    color: #767676;
                    margin-top: 10px;

                    display: flex;
                    align-items: center;

                    span {
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;

                        svg,
                        img {
                            @include ImgCon;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &_news {
        .modal {
            &_inner {
                background: #fff;
                padding: 60px 20px 20px;
                position: relative;
                max-width: 1200px;
            }

            &_close {
                background: #A6A6A6;
                top: 20px;
                right: 20px;
                
                width: 30px;
                height: 30px;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                svg,
                img {
                    width: 50%;
                    height: 50%;
                    display: block;
                }
            }
        }
    }

}



// Modal =================